body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #c27474;
}
.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

canvas{
    border-style: solid;
    border-radius: 26px;
    border-color: #ffffff00;
}